body {
    background-color: black;
    text-align: center;
    
}



p {
color: #fffdfa;
font-size: 200%;
text-align: center;
justify-content: space-around;

} 



#navbar 
 {
    height: 30px;
    background-color: forestgreen;
    border-color: forestgreen;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}


#navbar a
{
font-size: 25px;
color: black;
text-decoration: none;
}

#navbar a:hover
{
color: #fffdfa;}





@media (max-width: 1231px) {
.header__title {
    font-size: 1.5rem;
}
}

  
  .header__link,
  .header__btn {
font-size: 0.8rem;
  }

  @media (max-width: 925px) {
    .header {
    justify-content: space-between;
    align-items: center;
    }

    .header__title-container,
    .header__menu,
    .header__btn-container {
        flex: 0 1 auto;
    }

.header__title {
    font-size: 1.3rem;
}

.header__menu,
.header__btn-container {
    display: none;
}

.header__sun {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}
}

@media (max-width: 600px) {
    .header__title {
        font-size: 1rem;
    }

.header__sun {
    width: 1.3rem;
    height: 1.3rem;
}

}
  